@import "tailwindcss";

@font-face {
  font-family: 'Bein';
  src: url('./assets/fonts/beIN Normal Normal.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Bein';
  src: url('./assets/fonts/beIN Black Black.ttf') format('truetype');
  font-weight: 700;
}

@theme {
  --color-primary: #2B9C8E;
  --color-primary-dark: #237a6f;
  --color-background: #F8FAFB;
  --color-background-white: #ffffff;
  --color-background-primary: #eaf5f4;
  --color-background-secondary: #55B1A5;
  --color-text: #2F3541;
  --color-text-secondary: #6B7280;
  --color-border-primary: #E8E8E8;
  --color-warning-primary: #F59E0B;
  --color-success: #10B981;
  --color-danger: #EF4444;
}

* {
  font-family: 'Bein', sans-serif;
}

body {
  direction: rtl;
  text-align: right;
  background-color: var(--color-background);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
